<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.lzc.myapplication" >
<!--<uses-permission android:name="android.permission.CAMERA"/>-->
<!--<uses-permission android:name="android.permission.INTERNET"/>-->
<!--<uses-permission android:name="android.permission.VIBRATE"/>-->
<!--<uses-permission android:name="android.permission.FLASHLIGHT"/>-->
<!--<uses-permission android:name="android.permission.READ_CONTACTS"/>-->
<!--&lt;!&ndash; unavailable in API 23 &ndash;&gt;-->
<!--<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>-->
<!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
<!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->
<!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->

<!--<uses-feature android:name="android.hardware.camera.any"/>-->
<!--<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>-->
<!--<uses-feature android:name="android.hardware.camera.flash" android:required="false"/>-->
<!--<uses-feature android:name="android.hardware.screen.landscape"/>-->
<!--<uses-feature android:name="android.hardware.wifi" android:required="false"/>-->

<application
    android:allowBackup="true"
    android:icon="@drawable/launcher_icon"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>


</application>

</manifest>





